@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "GmarketSansMedium";
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
}

#wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

/* ============================
          차트 영역
      ============================ */
#main {
  position: relative;
  width: 100%;
  height: 800px;
  border: 2px solid #333;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;

  background-image: linear-gradient(to right, #e9e9e9 1px, transparent 1px),
    linear-gradient(to bottom, #e9e9e9 1px, transparent 1px);
  background-size: 40px 40px;
}

#main .cnt {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 100px;
  padding: 5px;
  border: 1px solid #bebebe;
}

/* ============================
          NAV 버튼
      ============================ */
#nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

#nav select,
#nav .btn {
  width: 150px;
  height: 100%;
  border: 1px solid #333;
  cursor: pointer;
}

#nav .btn:hover {
  transition: 0.25s ease;
}

/* ============================
          입력 박스
      ============================ */
#boxList {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

#boxList .box {
  display: flex;
  align-items: center;
  gap: 10px;
}

#boxList .box input {
  width: 150px;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid #bebebe;
}

/* ============================
          캔들 스타일 (High/Low 구조)
      ============================ */
.candle {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wick-top,
.wick-bottom {
  width: 2px;
  background-color: #000;
}

.candle-body {
  width: 10px;
  border-radius: 3px;
}

/* ============================
          팝업
      ============================ */
#popup {
  display: none;
  position: absolute;
  width: 300px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 7.5rem 0 1.5rem;
  font-size: 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 1px 3px 9px 0px #959595;
}

#popup img {
  max-width: 120px;
  margin-bottom: 20px;
}

#popup span {
  font-size: 22px;
  font-weight: bold;
}
